# Week 6: File ingestion and schema validation

Take any csv/text file of 2+ GB of your choice. --- (You can do this assignment on Google colab)

Read the file ( Present approach of reading the file )

Try different methods of file reading eg: Dask, Modin, Ray, pandas and present your findings in term of computational efficiency

Perform basic validation on data columns : eg: remove special character , white spaces from the col name

As you already know the schema hence create a YAML file and write the column name in YAML file. --define separator of read and write file, column name in YAML

Validate number of columns and column name of ingested file with YAML.

Write the file in pipe separated text file (|) in gz format.

Create a summary of the file:

Total number of rows,

total number of columns

In [1]:
!pip install datatable

Requirement already satisfied: datatable in c:\users\hp\downloads\anaconda\lib\site-packages (1.0.0)

In [2]:
import os
import time

In [3]:
%%writefile testutility.py
import logging
import os
import subprocess
import yaml
import pandas as pd
import datetime 
import gc
import re


################
# File Reading #
################

def read_config_file(filepath):
    with open(filepath, 'r') as stream:
        try:
            return yaml.safe_load(stream)
        except yaml.YAMLError as exc:
            logging.error(exc)


def replacer(string, char):
    pattern = char + '{2,}'
    string = re.sub(pattern, char, string) 
    return string

def col_header_val(df,table_config):
    '''
    replace whitespaces in the column
    and standardized column names
    '''
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace('[^\w]','_',regex=True)
    df.columns = list(map(lambda x: x.strip('_'), list(df.columns)))
    df.columns = list(map(lambda x: replacer(x,'_'), list(df.columns)))
    expected_col = list(map(lambda x: x.lower(),  table_config['columns']))
    expected_col.sort()
    df.columns =list(map(lambda x: x.lower(), list(df.columns)))
    df = df.reindex(sorted(df.columns), axis=1)
    if len(df.columns) == len(expected_col) and list(expected_col)  == list(df.columns):
        print("column name and column length validation passed")
        return 1
    else:
        print("column name and column length validation failed")
        mismatched_columns_file = list(set(df.columns).difference(expected_col))
        print("Following File columns are not in the YAML file",mismatched_columns_file)
        missing_YAML_file = list(set(expected_col).difference(df.columns))
        print("Following YAML columns are not in the file uploaded",missing_YAML_file)
        logging.info(f'df columns: {df.columns}')
        logging.info(f'expected columns: {expected_col}')
        return 0

Overwriting testutility.py

# 1) Trying different methods of file reading

### Time it took with Dask

In [58]:
from dask import dataframe as dd
start = time.time()
dask_df = dd.read_csv('data.csv')
end = time.time()
print("Time it took to read the file using Dask: ",(end-start),"sec")

Time it took to read the file using Dask:  0.023914813995361328 sec

### Time it took with Panads

In [60]:
import pandas as pd
start = time.time()
pd_df = pd.read_csv('data.csv')
end = time.time()
print("Time it took to read the file using panads: ",(end-start),"sec")

Time it took to read the file using panads:  87.40052461624146 sec

### Time it took with Datatable

In [61]:
import datatable as dt

start = time.time()
df_dt = dt.fread('data.csv')
end = time.time()
print("Time it took to read the file using Datatable:", (end-start),"sec")

Time it took to read the file using Datatable: 35.583712577819824 sec

#### Dask was the fastest one by a lot of time.

# 2) Removeing special character , white spaces etc

In [62]:
df = dd.read_csv('data.csv')
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2

In [63]:
df.columns

Index(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session'],
      dtype='object')

In [64]:
df.columns=df.columns.str.replace('[#,@,&,_]','')
df.columns = df.columns.str.replace(' ', '')
df.columns

<ipython-input-64-006e030d8d0a>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns=df.columns.str.replace('[#,@,&,_]','')

Index(['eventtime', 'eventtype', 'productid', 'categoryid', 'categorycode',
       'brand', 'price', 'userid', 'usersession'],
      dtype='object')

# 3) YAML file Creation

In [68]:
%%writefile file.yaml
file_type: csv
file_name: data
inbound_delimiter: ","
columns: 
    - event_time
    - event_type
    - product_id
    - category_id
    - category_code
    - brand
    - price
    - user_id
    - user_session

Overwriting file.yaml

In [69]:
import testutility as util
config_data = util.read_config_file("file.yaml")
config_data

{'file_type': 'csv',
 'file_name': 'data',
 'inbound_delimiter': ',',
 'columns': ['event_time',
  'event_type',
  'product_id',
  'category_id',
  'category_code',
  'brand',
  'price',
  'user_id',
  'user_session']}

In [73]:
# read the file using config file
#Using the dynamic way of reading the file so it would be flexible 
file_type = config_data['file_type']
source_file = "./" + config_data['file_name'] + f'.{file_type}'
dataframe = pd.read_csv(source_file,config_data['inbound_delimiter'])
dataframe.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2

# 4) Validation

In [74]:
util.col_header_val(dataframe ,config_data)

column name and column length validation passed

1

In [75]:
print("columns of files are:" ,dataframe.columns)
print("columns of YAML are:" ,config_data['columns'])

columns of files are: Index(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session'],
      dtype='object')
columns of YAML are: ['event_time', 'event_type', 'product_id', 'category_id', 'category_code', 'brand', 'price', 'user_id', 'user_session']

#### Since we have the same columns on both files, the validation passed

# 5) Write the file in pipe separated text file (|) in gz format

In [76]:
import datetime
import csv
import gzip

from dask import dataframe as dd
df = dd.read_csv('data.csv',delimiter=',')

# Write csv in gz format in pipe separated text file (|)
df.to_csv('data.csv.gz',
          sep='|',
          header=True,
          index=False,
          quoting=csv.QUOTE_ALL,
          compression='gzip',
          quotechar='"',
          doublequote=True,
          line_terminator='\n')

['C:/Users/HP/Data Glacier/week 6/data.csv.gz\\000.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\001.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\002.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\003.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\004.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\005.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\006.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\007.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\008.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\009.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\010.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\011.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\012.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\013.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\014.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\015.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\016.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\017.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\018.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\019.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\020.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\021.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\022.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\023.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\024.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\025.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\026.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\027.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\028.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\029.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\030.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\031.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\032.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\033.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\034.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\035.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\036.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\037.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\038.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\039.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\040.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\041.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\042.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\043.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\044.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\045.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\046.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\047.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\048.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\049.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\050.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\051.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\052.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\053.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\054.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\055.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\056.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\057.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\058.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\059.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\060.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\061.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\062.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\063.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\064.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\065.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\066.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\067.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\068.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\069.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\070.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\071.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\072.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\073.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\074.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\075.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\076.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\077.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\078.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\079.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\080.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\081.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\082.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\083.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\084.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\085.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\086.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\087.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\088.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\089.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\090.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\091.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\092.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\093.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\094.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\095.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\096.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\097.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\098.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\099.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\100.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\101.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\102.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\103.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\104.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\105.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\106.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\107.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\108.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\109.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\110.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\111.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\112.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\113.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\114.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\115.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\116.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\117.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\118.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\119.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\120.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\121.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\122.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\123.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\124.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\125.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\126.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\127.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\128.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\129.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\130.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\131.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\132.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\133.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\134.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\135.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\136.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\137.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\138.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\139.part',
 'C:/Users/HP/Data Glacier/week 6/data.csv.gz\\140.part']

# 6) Create a summary of the file

In [77]:
#Total number of rows of the file: 
print("The total number of rows: ", len(dataframe))
#Total number of columns of the file:
print("The number of columns: ", len(dataframe.columns))

The total number of rows:  67501979
The number of columns:  9

In [78]:
#Total number of rows of the YAML: 
print("The total number of rows: ", len(config_data))
#Total number of columns of the YAML:
print("The number of columns: ", len(config_data['columns']))

The total number of rows:  4
The number of columns:  9

In [80]:
# The size of the CSV
file_size = os.path.getsize('data.csv')
print("File Size is :", file_size, "bytes")

File Size is : 9006762395 bytes